<header class="relative">
    <nav class="p-6 sticky top-0 z-50">
        <div class="flex justify-between items-center">
            <h1 class="px-6 text-2xl font-bold flex">
                <a href="{{ path('index_homepage') }}"
                   class="text-md nav-link flex"
                >
                    <img class="icon mr-1.5"
                         src="{{ asset('medias/unicorn.gif') }}"
                         alt="Crypto Groove Logo"
                         title="Crypto Groove"
                    > Crypto Groove
                </a>
            </h1>
            <a href="{% if isNotPlayable is defined %}{{ path('index_homepage') }}{% else %}#{% endif %}"
               class="text-md nav-link flex middle-nav"
            >
                {% if isNotPlayable is defined %}
                    Enter
                {% else %}
                    Play
                {% endif %}
            </a>
            <div class="flex justify-end flex-grow">
                <div class="md:flex space-x-6 hidden">
                    {% if app.user %}
                        <a href="{{ path('user_space') }}"
                           class="text-md nav-link flex"
                        >
                            {% if app.user.avatarName is empty %}
                                <img class="icon mr-1.5"
                                     src="{{ asset('medias/girl.png') }}"
                                     alt="Crypto Groove Girl"
                                     title="Profil"
                                > {{ app.user.getPseudoFull|raw }}
                            {% else %}
                                <img class="icon mr-1.5"
                                     src="{{ app.user.avatarName }}"
                                     alt="Crypto Groove Girl"
                                     title="Profil"
                                > {{ app.user.getPseudoFull|raw }}
                            {% endif %}
                        </a>
                        <a href="{{ path('user_logout') }}"
                           class="text-md nav-link flex"
                        >
                            <img class="icon mr-1.5"
                                 src="{{ asset('medias/cat.png') }}"
                                 alt="Crypto Groove Cat"
                                 title="Disconnect"
                            > Disconnect Wallet
                        </a>
                    {% else %}
                        <a href="{{ path('user_register') }}"
                           class="text-md nav-link flex"
                           id="connect"
                        >
                            <img class="icon mr-1.5"
                                 src="{{ asset('medias/cat.png') }}"
                                 alt="Crypto Groove Cat"
                                 title="Connect"
                            > Connect Wallet
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>