{% extends 'base.html.twig' %}

{% block body %}

    {% include 'include/audio.html.twig' with { 'sound' : 'options.mp3'} %}
    <div class="my-space">

        <div class="form-input">
            {{ form_start(form) }}

            <div class="options-form">
                <div class="col-2">
                    <div class="option">
                        {{ form_label(form.Activate_Music) }}
                        {{ form_widget(form.Activate_Music) }}
                    </div>

                    <div class="option">
                        {{ form_label(form.Language) }}
                        {{ form_widget(form.Language) }}
                    </div>
                </div>

                <div class="col-2" style="margin-top: 20px; margin-bottom: 20px">
                    <div class="option">
                        {{ form_label(form.A_Button) }}
                        {{ form_widget(form.A_Button) }}
                    </div>

                    <div class="option">
                        {{ form_label(form.B_Button) }}
                        {{ form_widget(form.B_Button) }}
                    </div>
                </div>

                <div class="col-2" style="margin-bottom: 20px">
                    <div class="option">
                        {{ form_label(form.C_Button) }}
                        {{ form_widget(form.C_Button) }}
                    </div>

                    <div class="option">
                        {{ form_label(form.D_Button) }}
                        {{ form_widget(form.D_Button) }}
                    </div>
                </div>

                <div class="option">
                    {{ form_label(form.Theme) }}
                    {{ form_widget(form.Theme) }}
                </div>

                <div>
                    {{ form_widget(form.save) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}